
<div *ngIf="bookings.length > 0; else noBookings" class="container">
  <h2>Your Bookings</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Service Type</th>
        <th>Date & Time</th>
        <th>License Plate</th>
        <th>Status</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.bookingId }}</td>
        <td>{{ booking.servicetype }}</td>
        <td>{{ formatDateTime(booking.datetime) }}</td>
        <td>{{ booking.licenseplate }}</td>
        <td>
          <div class="status-container" [ngClass]="{'pending': booking.status === 'pending', 'in-progress': booking.status === 'in-progress', 'complete': booking.status === 'complete', 'rejected': booking.status === 'rejected'}">
            {{ booking.status }}
          </div>
        </td>
        <td>{{ booking.totalPrice | currency:'THB' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noBookings>
  <p class="no-bookings">No bookings found.</p>
</ng-template>
